@charset "UTF-8";

#header {
    $height: 30px !global;
    height: $height;
}
$main-width: 50px;

#main {
    height: $height;
    width: $main_width;
    line-height: nth(10px 20px 30px, 1);
}
@mixin firefox-message($selector) {
    body.firefox #{$selector}:before {
        content: "Hi, Firefox users!";
    }
}
@include firefox-message(".header");
$color: red;

p {
    $color: blue;
    color: $color; //blue
}

a {
    color: $color; //red
}
$color1: red !default;
$color1: blue !default;

p {
    color: $color1;
}

p {
    font: (10px/8px);
    // 原生的CSS，不作为除法
    $width: 1000px;
    width: $width/2;
    // 使用了变量, 作为除法
    width: round(1.5)/2;
    // 使用了函数, 作为除法
    height: (500px/2);
    // 使用了括号, 作为除法
    margin-left: 5px + 8px/2px; // 使用了 +, 作为除法
    font: italic bold (10px/8); // 在一个列表（list）中，括号可以被忽略。
    left: 10px - 8;
    right: -9px;
    margin: 1px -2px;
    color: #777 + #777;
    background: #010203 * 2;
    margin: (3px / 4) auto;
}
