#main {
    width: 97%;
    div,
    p {
        font-size: 2em;
        a {
            font-weight: bold;
        }
    }
}

a {
    font-weight: bold;
    text-decoration: none;
    span {
        display: inline-block;
        &-link:em {
            font-size: 12px;
        }
    }
    &:hover {
        text-decoration: underline;
    }
    .firefox & {
        font-weight: normal;
    }
}

.funky {
    font: 20px/24px {
        family: fantasy;
        weight: bold;
    }
}